@charset "UTF-8";.animated{animation-duration:2s;animation-fill-mode:both;animation-iteration-count:infinite;}
.animated.infinite{animation-iteration-count:infinite;}



@keyframes rubberBand{from{transform:scale3d(1, 1, 1);}
30%{transform:scale3d(1.25, 0.75, 1);}
40%{transform:scale3d(0.75, 1.25, 1);}
50%{transform:scale3d(1.15, 0.85, 1);}
65%{transform:scale3d(.95, 1.05, 1);}
75%{transform:scale3d(1.05, .95, 1);}
to{transform:scale3d(1, 1, 1);}
}
.rubberBand{animation-name:rubberBand;}


.jumbotron{
    text-align:center;
    font-family: 'Permanent Marker', cursive;
    
    color:white; 
   
}
.first{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    background-color: #E5E5FF;
    padding-top:50px;
    text-align: center;
    margin-bottom: 100px;
    color:black;
}
.first1{
    
    background-image: url("https://68.media.tumblr.com/c6e37502d4da22a4761c9f3263a43c32/tumblr_nj76ot5V451tcuj64o1_400.gif");
    color:#E5E5FF;
    padding-top:50px;
    padding-bottom:50px;
     margin-top:-50px; 
    margin-bottom: -93px;  
    background-size: cover;
    text-align: center;
    padding-bottom:100px;

}
.second{
     
    padding-top:100px;
    background-color: #E5E5FF;
    color:black;
    
    
}


html{
    background-color: #E5E5FF;
}
h3{
    padding-top:50px;
}



.first2{
    padding-bottom: 50px;
    color:black;
}
.caption{
    background-color:#E5E5FF;
    border: 10px solid #E5E5FF;
    border-radius: 10px;
}